<!doctype html>
<html ng-app="app">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>TicTacToe!</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
  <script src="app.js"></script>
  <script src="controller.js"></script>
  <link rel="stylesheet" href="style.css" />
</head>
<body ng-controller="TicTacToeCtrl">

<h1>Tic Tac Toe!</h1>

<div class="clearfix">
  <div class="left_column">
    <h3>Gameboard:</h3>
    <div id="board">
      <div class="row clearfix" ng-repeat="row in board track by $index">
        <div class="pane" ng-click="mark_pane($parent.$index, $index)" ng-repeat="pane in row track by $index">
          {{ pane }}
        </div>
      </div>
    </div>
  </div>
  <div class="right_column">
    <h3>Current Player:</h3>
    <div class="player" ng-class="{current_move: current_move == 'A'}">Player A ("X")</div>
    <div class="player" ng-class="{current_move: current_move == 'B'}">Player B ("O")</div>
  </div>
</div>

</body>
</html>