
/* Clearfix */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

* { font-family: HelveticaNeue, Helvetica, Arial, sans-serif; }
body { padding: 50px 200px;  }
h1 { font-size: 60px; }

.pane { display: inline; float: left; width: 80px; height: 80px; border: 2px solid #000; text-align: center; font-size: 80px; font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif; }

.left_column, .right_column { display: inline; float: left; width: 400px; }